 .slick-arrow{
display: block;
background: #7f6464;
padding: 10px;
width: fit-content;
height: fit-content;
border-radius: 100%;
z-index: 1;
position: absolute;
}

.slick-next{
    right: 0px;
    bottom: 20%;
    width: 30;
}
.slick-prev{
left: 10px;
    bottom: 20%;
    width: 30;
    z-index: 1;
}