 
.containers .swiper {
    
    width: 100%;
    height: 100%;
  
}


@media only screen and (max-width: 984px) {
    .containers .swiper {
      width: 100%;
      height:100%;
    }
  }
  @media only screen and (max-width:756px) {
    .containers .swiper {
      width: 100%;
      height: 100%;
      
    }
  }