/* .slick-arrow{
display: block;
  position: absolute;

 
  background: #571d02;
}
.slick-next{
    right: 10px;
    bottom: 20%;
    width: 30;
}
.slick-prev{
    left: 30px;
    bottom: 20%;
    width: 30;
    z-index: 1;
} */