 body{
  /* overflow-x:hidden; */
  max-width:100%;
  /* background-color: #E7E1D9; */
}
/* * {
  overflow-x: hidden;
  }  */
/* @media only screen and (max-width: 756px) {
    * {
    overflow-x: hidden;
    } 
  }  */
