@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://www.fontsaddict.com/fontface/urban-jungle-demo.ttf');
@font-face {
    font-family: 'Urban Jungle DEMO';
    src: url('https://www.fontsaddict.com/fontface/urban-jungle-demo.ttf');
  }
 @import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
 body{
  overflow-x: hidden;
 }

                